#main {
    display: flex;
    height: 100vh;
}

#product-listing-section {
    height: 100vh;
    background: rgb(241, 241, 241);
    flex: 3;
}

#cart-section {
    height: 100vh;
    flex: 1;
}

#products {
}

.product {
    padding: 10px;
    border: solid 1px;
    margin: 5px;
}